* {
    font-family: 'AvenirNext';
}

@font-face {
    font-family: 'AvenirNext';
    src: url('./AvenirNextLTPro-Light.woff') format('woff'),
        url('./AvenirNextLTPro-Thin.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button {
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    border: 0px;
}

button:hover {
    background-color: white;
    color: black;
}

.header {
    height: 4rem;
    background-color: black;
}

.footer {
    height: 2rem;
    background-color: black;
}

.main {
    height: 100%;
    background-color: white;
    padding: 9% 0% 0% 15%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 1.5rem;
    white-space: pre-line;
}

p {}

.textContainer {
    width: max-content;
}

.textContainer .h4 {
    width: 66%;
}

.textContainer img {
    width: 38rem;
}

.menuContainer {
    width: max-content;
}

.menuContainer .h4 {
    line-height: 3rem;
}